---
export async function getStaticPaths() {
const url = `${import.meta.env.PUBLIC_SUPABASE_URL}/rest/v1/pedals`;

  const options = {
    headers: {
      apikey: import.meta.env.PUBLIC_SUPABASE_ANON_KEY,
    },
  };
  const data = await fetch(url, options).then((response) => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
---

<h1>{slug}: {post.name}</h1>
<img src={"https://eiqbbwrfdkdkbnpdmieb.supabase.co/storage/v1/object/public/pedal_imgs/"+ post.image} alt="guitar effect" />
<div>
  <a href="/">Tilbage</a>
  <button>BACK</button>
  <!-- history.back();  -->
</div>

<script>
  document.querySelector("button").addEventListener("click", function () {
    history.back();
  });
</script>
