---
export async function getStaticPaths() {
  const url = "https://mjjuobnpjkqieqqajriw.supabase.co/rest/v1/pedal_table";

  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qanVvYm5wamtxaWVxcWFqcml3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3NzM5NjIsImV4cCI6MjA3ODM0OTk2Mn0.7HbvckmVsFh6cNuQW8w6rCGZ9RxoOVL0r_iFn6CVLrA",
    },
  };
  const data = await fetch(url, options).then((response) => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
---

<h1>{slug}: {post.name}</h1>
<img src={"https://mjjuobnpjkqieqqajriw.supabase.co/storage/v1/object/public/pedal_imgs/" + post.image} alt="guitar effect" />
<div>
  <a href="/">Tilbage</a>
  <button>BACK</button>
  <!-- history.back();  -->
</div>

<script>
  document.querySelector("button").addEventListener("click", function () {
    history.back();
  });
</script>
