---
// import Nav from "../components/Nav.astro";
import FilterNav_alterna_nice from "../components/FilterNav_alterna_nice.astro";
import Layout_alterna_astro_style_nice from "../layouts/Layout_alterna_astro_style_nice.astro";
import PedalCard from "../components/PedalCard.astro";

import "../styles/global.css";
const url = "https://mjjuobnpjkqieqqajriw.supabase.co/rest/v1/pedal_table";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qanVvYm5wamtxaWVxcWFqcml3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3NzM5NjIsImV4cCI6MjA3ODM0OTk2Mn0.7HbvckmVsFh6cNuQW8w6rCGZ9RxoOVL0r_iFn6CVLrA",
  },
};
const response = await fetch(url, options);
const myJson = await response.json();
---

<Layout_alterna_astro_style_nice>
  <FilterNav_alterna_nice />
  <section class="card_container">
    {
      myJson.map((element) => {
        if (element.type === "distortion_overdrive_fuzz") {
          return <PedalCard jsonObj={element} />;
        }
      })
    }
  </section>
</Layout_alterna_astro_style_nice>
