---
// import Nav from "../components/Nav.astro";
import FilterNav_alterna_nice from "../components/FilterNav_alterna_nice.astro";
import Layout_alterna_astro_style_nice from "../layouts/Layout_alterna_astro_style_nice.astro";
import PedalCard from "../components/PedalCard.astro";

import "../styles/global.css";
const url = "https://eiqbbwrfdkdkbnpdmieb.supabase.co/rest/v1/pedals";

const options = {
  headers: {
    apikey:
      "sb_publishable_wuLWO9Is5TLxSmOpaIXt0w_owCTXGFY",
  },
};
const response = await fetch(url, options);
const myJson = await response.json();
---

<Layout_alterna_astro_style_nice>
  <FilterNav_alterna_nice />
  <section class="card_container">
    {
      myJson.map((element) => {
        if (element.type === "distortion_overdrive_fuzz") {
          return <PedalCard jsonObj={element} />;
        }
      })
    }
  </section>
</Layout_alterna_astro_style_nice>
