---
---

<div>
  <!-- <button class="filter_btn" data-filter="dynamics_filter">Dynamics/Filter</button>
  <button class="filter_btn" data-filter="pitch_modulation">Pitch/Modulation</button>
  <button class="filter_btn" data-filter="distortion_overdrive_fuzz">Distortion/Overdrive/Fuzz</button>
  <button class="filter_btn" data-filter="all">All</button> -->

  <a href="index_alterna_astro_style_nice_all">All</a>
  <a href="index_alterna_astro_style_nice_dist">Distortion</a>
</div>
<style>
  a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    color: #f1f1f1;
    text-decoration: none;
  }
</style>
