---
const { jsonObj } = Astro.props;
---

<article data-type={jsonObj.type} data-shortname={jsonObj.shortname} class="pedal_card">
  <div id="img_container">
    <img src={"/bosspedaler/" + jsonObj.image} alt="guitar effect" />
  </div>

  <a id="text_container" href={"/pedals/" + jsonObj.slug}>
    <h3>{jsonObj.shortname}</h3>
  </a>
</article>
<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 243, 243);
    border-radius: 4px;
    padding-top: 10px;
    height: 400px;
    /* aspect-ratio: 1/2; */
  }

  #img_container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 90%;
    height: 80%;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  #text_container {
    /* margin-top: 4px; */
    background-color: white;
    width: 90%;
    border-radius: 4px;
    transition: 0.5s all;
    text-decoration: none;
    color: rgb(227, 174, 105);
  }
  #text_container:hover {
    background-color: rgb(225, 224, 224);
    color: slateblue;
  }
  h3 {
    margin-left: 12px;
  }
  .hide {
    display: none;
  }
</style>
