---
import { Debug } from "astro/components";
// import Nav from "../components/Nav.astro";
// import FilterNav_alterna_nice from "../components/FilterNav_alterna_nice.astro";
---

<html lang="en">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
